<form method=POST action="/student">
  <p>Student Name: <input type="text" name="student[name]"></input></p>
  <p>Student Grade: <input type="text" name="student[grade]"></input></p>
  <p>Course Name: <input type="text" name="student[courses][][name]"></input></p>
  <p>Course Topic: <input type="text" name="student[courses][][topic]"></input></p>
  <p>Course Name: <input type="text" name="student[courses][][name]"></input></p>
  <p>Course Topic: <input type="text" name="student[courses][][topic]"></input></p>
  <input type="submit" name="submit"></input>
</form>
